<div id="<%= dom_id consultation %>">
  <p>
    <strong>Title:</strong>
    <%= consultation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consultation.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= consultation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= consultation.end_time %>
  </p>

</div>
